.diapositiva-nueva, .diapositiva-nueva-mobil {
    width: 100%;
  }
  
  .slick-slide {
    text-align: center;
    color: white;
    background: black; /* Modifica según tus necesidades */
  }
  
  @media (max-width: 767px) {
    .diapositiva-nueva {
      display: none;
    }
    .diapositiva-nueva-mobil {
      display: block;
    }
  }
  
  @media (min-width: 768px) {
    .diapositiva-nueva {
      display: block;
    }
    .diapositiva-nueva-mobil {
      display: none;
    }
  }