/* Estilos para diapositivas de escritorio */
.diapositiva-nueva-desktop .desktop-image {
    width: 100%;
    display: block; /* Asegura que las imágenes de escritorio se muestren */
}
.diapositiva-nueva-mobil {
    display: none;
}
.mobile-image {
    display: none;
}
/* Oculta las diapositivas de escritorio en dispositivos móviles */
@media (max-width: 767px) {
    .diapositiva-nueva-desktop {
        display: none;
    }
    .desktop-image{
        display: none;
    }
    .diapositiva-nueva-mobil{
        display: block;
    }
    .mobile-image {
        display: block;
    }
}
