/* Estilos para diapositivas de escritorio */
.diapositiva-nueva-desktop .desktop-image {
    width: 100%;
    display: block; /* Asegura que las im치genes de escritorio se muestren */
  }
  .mobile-image{
    display: none;
  }
  .diapositiva-nueva-mobil .mobile-image {
    width: 100%;
    display: none; /* Inicialmente oculta las im치genes m칩viles */
  }
  
  /* Oculta las diapositivas de escritorio en dispositivos m칩viles */
  @media (max-width: 767px) {
    .diapositiva-nueva-desktop {
      display: none;
    }
    .desktop-image {
        display: none;
    }
    .diapositiva-nueva-mobil {
        width: 100%;
        display: block;
      }
      .mobile-image{
        width: 100%;
        display: block;
      }
  }
  

