.diapositiva-nueva .desktop-image, .diapositiva-nueva-mobil .mobile-image {
    width: 100%;
    display: block;
  }
  
  @media (max-width: 767px) {
    .diapositiva-nueva .desktop-image {
      display: none;
    }
    .diapositiva-nueva-mobil .mobile-image {
      display: block;
    }
  }
  
  @media (min-width: 768px) {
    .diapositiva-nueva .desktop-image {
      display: block;
    }
    .diapositiva-nueva-mobil .mobile-image {
      display: none;
    }
  }
  